<div class="container">
  <div class="mt-3">
    <ng-container *ngIf="(song$ | async) as song;">
      <app-song-details [song]=song>
      </app-song-details>
    </ng-container>
  </div>
  <div class="mt-3">
    <ng-container *ngIf="(yearsReport$ | async) as yearsReport;">
      <app-years-report [yearsReport]="yearsReport" [labels]="yearsReportLabels">
      </app-years-report>
    </ng-container>
  </div>
  <div class="mt-3">
    <ng-container *ngIf="(channelsReport$ | async) as channelsReport;">
      <app-channels-report [channelsReport]="channelsReport">
      </app-channels-report>
    </ng-container>
  </div>
</div>
