<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
    <a
      [routerLink]="['/authentication/logout']"
      [state]="{ local: true }"
      title="Logout"
      class="d-flex text-white text-decoration-none align-items-center"
    >
      <i class="fs-4 bi bi-box-arrow-left"></i>
      <strong class="p-3">Wyloguj</strong>
    </a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
    <a
      [routerLink]="['/authentication/login']"
      class="d-flex text-white text-decoration-none align-items-center"
    >
      <i class="fs-4 bi bi-box-arrow-in-right"></i>
      <strong class="p-3">Zaloguj si&#281;</strong>
    </a>
  </li>
</ul>
