.close {
    background: -webkit-linear-gradient(#e1423a, #181615);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .close:hover {
    background: -webkit-linear-gradient(#ca7975, #717070);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  